#----------------------------------
# /var/
#----------------------------------
/var/backup/*
*.pem

#----------------------------------
# /home/[user]/
#----------------------------------
.bash_history
.bash_logout
.cache
.htpasswd
.ssh
.pki
kusanagi.pem
.vim
.viminfo
**/log/*
.mysql_history
# mysql user and passwd
.my.cnf

#----------------------------------
# /home/256hax/
#----------------------------------
home/256hax/docs/server_info/*
!home/256hax/docs/server_info/export-server_info.sh

#----------------------------------
# WordPress Common
#----------------------------------
*.log
wp-config.php
**/plugins/
**/wp-content/advanced-cache.php
**/wp-content/backup-db/*
**/wp-content/backups/*
**/wp-content/cache/*
**/wp-content/uploads/backwpup-*
**/wp-content/uploads/backwpup-*
**/wp-content/uploads/wp-security-audit-log/*

#----------------------------------
# WordPress Themes
#----------------------------------
**/themes/twentyfifteen
**/themes/twentyseventeen

#----------------------------------
# Editor Tool and Mac Config
#----------------------------------
# Atom Remote-FTP
.ftpconfig
# Mac
.DS_Store
