#----------------------------------
# /var/
#----------------------------------
/var/backup/*

#----------------------------------
# /home/[user]/
#----------------------------------
.bash_history
.bash_logout
.cache
.htpasswd
.ssh
.pki
.vim
.viminfo
**/log/*
.mysql_history
kusanagi.pem

#----------------------------------
# WordPress
#----------------------------------
*.log
wp-config.php
**/wp-content/advanced-cache.php
**/wp-content/backup-db/*
**/wp-content/backups/*
**/wp-content/cache/*
**/wp-content/uploads/backwpup-*
**/wp-content/uploads/backwpup-*
**/wp-content/uploads/wp-security-audit-log/*

#----------------------------------
# Editor Tool and Mac Config
#----------------------------------
# Atom Remote-FTP
.ftpconfig
# Mac
.DS_Store